@import "@skyface/theme/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(var(--sf-color-background));
  color: rgb(var(--sf-color-foreground));
  font-family: var(--sf-font-sans);
}
